<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <!-- Import Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Styles -->
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            justify-content: center;
            align-items: center;
            background-color: #f0f2f5;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        .container h1 {
            color: #d32f2f;
        }
        .container p {
            font-size: 1.2em;
        }
        .container a {
            margin-top: 20px;
            display: inline-block;
            color: #007BFF;
            text-decoration: none;
            font-weight: 500;
        }
        .container a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><i class="material-icons large">error_outline</i> {{ error_code }} Error</h1>
        <p>{{ error_message }}</p>
        <a href="/" class="btn waves-effect waves-light">Back to Home</a>
    </div>
</body>
</html>
