<!DOCTYPE html>
<html>
<head>
    <title>EMSCAN Result</title>
    <!-- Import Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Styles -->
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
        }
        main {
            flex: 1 0 auto;
        }
        .container {
            margin-top: 50px;
        }
        .plot-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-top: 20px;
        }
        .plot-container div {
            text-align: center;
        }
        .plot-container img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        @media (max-width: 600px) {
            .plot-container {
                grid-template-columns: 1fr;
            }
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <h1 class="center-align">EMSCAN: Analysis Results</h1>
            <div class="plot-container">
                <div>
                    <h2>Line Plot</h2>
                    <img src="{{ line_plot_url }}" alt="Line Plot">
                </div>
                <div>
                    <h2>Bar Chart</h2>
                    <img src="{{ bar_chart_url }}" alt="Bar Chart">
                </div>
                <div>
                    <h2>Histogram</h2>
                    <img src="{{ histogram_url }}" alt="Histogram">
                </div>
                <div>
                    <h2>Scatter Plot</h2>
                    <img src="{{ scatter_plot_url }}" alt="Scatter Plot">
                </div>
            </div>
            <div class="center-align">
                <a href="/" class="btn waves-effect waves-light">Back to Home</a>
            </div>
        </div>
    </main>
    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
